*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: "Poppins",sans-serif;

}
header{
    display: block;
    width: 100%;
    background: linear-gradient(to bottom right, #dddddd , #3f71c0);
    opacity: 0.7;
    margin: 0 0 0 0;
}
div#logo {
    display: inline-block;
    width: 17%;
    text-align: center;
}
header a{
    font-size:1rem;
    color: white;
    text-decoration: none;
}
header a:hover{
    font-size:1rem;
    color: rgb(245, 247, 174);
    text-decoration: none;
}
header div div a{

}
.navbar{
    margin-bottom: 0;
}
.navbar-links{
    width: 83%;
}
header nav{
    display: flex;
    width: 100%;
    padding-top: 10px;

}
header nav div ul{
    text-align: right;
    margin: 0 0 0 0;
}
header nav ul li{
    display: inline-block;
    margin: 0 5% 0 0;
}
header nav ul li a{
    
}

.toggle-button{
    position: absolute;
    top:0rem;
    right:0rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 21px;
    transition: 0.1s;
    margin-top: 10px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius:10px;
}

/*Responsive Design*/
@media screen and (max-width:767px) {
    html{
        font-size: 14px;
    }
    body{
        background-color: rgb(43, 200, 127);
    }
    header{
        height: 4rem;
    }
    .navbar{
        flex-direction:column; 
        padding-top: 10px;

    }
    .navbar-links{
        display: none;
    }
    .toggle-button{
        display: flex;
        margin-right: 1rem;
        margin-top: 10px;
    }
    #navbar-ul{
        display: flex;
        flex-direction:column;
        width: 100%;
        align-items: center;
    }
    div#logo {
        margin: 0 0 0 1rem;
    }
    .navbar-links.active{
        padding: 0.5rem 0;
    }
    .lis-responsive{
        margin: 0;
    }
    .lis-responsive>a{
        letter-spacing: 0.3rem;
    }
    .navbar-links.active{
        display: flex;
        width: 100%;
        background: linear-gradient(to bottom right, #dddddd , #3f71c0);
        opacity: 0.7;
        margin-top: 1.8rem;
    }


}

